<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark app-navbar" th:fragment="navbar(activePage)">
    <div class="container">
        <a class="navbar-brand fw-semibold" th:href="@{/}">Inventario Escolar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activePage == 'home'} ? ' active'" th:href="@{/}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activePage == 'equipamentos'} ? ' active'" th:href="@{/equipamentos}">Equipamentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activePage == 'scan'} ? ' active'" th:href="@{/equipamentos/scan}">Scan QR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activePage == 'fornecedores'} ? ' active'" th:href="@{/fornecedores/}">Fornecedores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
